@model Bolinders.Core.Models.ViewModels.ContactformViewModel

@{
    ViewData["Title"] = "Kontakt";
}

<div class="col-lg-12">
    @{
        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBk-v4Q-5hiaJeLvNpOAdBwSQsyrCaE-ow'></script>
     
        <div style='overflow:hidden;height:400px;width:520px;'>
            <div id='id' style='height:400px;width:520px;'></div>
            <style>
                #gmap_canvas img {
                    max-width: none !important;
                    background: none !important
                }
                a, a:active, a:focus, a:hover, a:after, a:visited, :link {
                    color:black;
                }
                span.gm {
                    color: black;
                }
            </style>
        </div>
        <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=7c1fa14bdc2fe0ddafaa3e7f80fbbd1a808087dc'></script>
        <script type='text/javascript'>
            function init_map() {

                                var myOptions = {
                                    zoom: 7, center: new google.maps.LatLng(57.78261370000001, 14.161787600000025),
                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }; map = new google.maps.Map(document.getElementById("id"), myOptions);

                @foreach (var item in ViewBag.Contacts)
                {
                    <text>
                    marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(@(item.Latitude), @(item.Longitude)) });
                    marker['infowindow-@(item.Id)'] = new google.maps.InfoWindow({
                        content: '<span class="gm"><strong>Bolinders Bil i @(item.City)</strong><br><a target="_blank" href="https://maps.google.com/?q=@(item.Latitude),@(item.Longitude)">Visa på Google Maps</a></span>'
                    });

                    google.maps.event.addListener(marker, 'click', function ()
                    {
                        $(".gm-style-iw").next().click();
                        this['infowindow-@(item.Id)'].open(map, this);

                    });
                    </text>
                }
            }
            google.maps.event.addDomListener(window, 'load', init_map);
        </script>
      
        <div class="col-md-6">
            <h2>@ViewData["Title"]</h2>
            <ul>
                @foreach (var c in ViewBag.Contacts)
            {
                    <li>
                        <b>Bolinders bil @c.Name </b>
                        <p>
                            @c.Address @c.City
                            <br>
                            Telefon: @c.PhoneNumber
                            <br>
                            E-post: <a href="mailto:@{@c.Email}">@c.Email</a>
                        </p>
                    </li>
    }
            </ul>
        </div>
    }

    
    
    <div class="col-md-6">
        <h2>Kontakta oss direkt!</h2>
        <hr />
        <p>@ViewBag.Success</p>
        @{
            if (ViewBag.Success != null)
            {
                <div class='alert alert-success'><strong>Skickat! </strong>@ViewBag.Success</div>
            }

            if (ViewBag.Fail != null)
            {
                <div class='alert alert-danger'><strong>Fel! </strong>@ViewBag.Fail</div>
            }
        }
        <form asp-action="Contact">
            <div class="form-group">
                <label asp-for="SenderName" class="control-label"></label>
                <input asp-for="SenderName" class="form-control" placeholder="Ditt namn..." required />
                <span asp-validation-for="SenderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Ditt telefonnummer..." />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderEmail" class="control-label"></label>
                <input asp-for="SenderEmail" class="form-control" placeholder="Din epostadress..." required />
                <span asp-validation-for="SenderEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reciever" class="control-label"></label>
                <select asp-for="Reciever" class="form-control" asp-items="ViewBag.Facility">
                    <option>kontakt@bolindersbil.se</option>
                </select>
                <span asp-validation-for="Reciever" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" placeholder="Ämne..." required />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control" placeholder="Meddelande..." required></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success pull-right">Skicka</button>
        </form>
    </div>
</div>
