@model IEnumerable<Bolinders.Core.Models.Vehicle>

@{
    ViewData["Title"] = "Alla fordon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


    <a class="btn btn-default" asp-action="Create">Nytt fordon</a>

<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BodyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Used)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leasable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facility)
            </th>
            <th>
                Editor
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="table-bordered">
                    <input type="checkbox" name="selectedVehicles" value="@item.Id">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BodyType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Colour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FuelType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Used)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Leasable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Facility.Name)
                </td>
                <td class="table-bordered">
                    <a asp-action="Edit" asp-route-id="@item.Id"><span title="Edit" class="glyphicon glyphicon-edit"></span></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><span title="Details" class="glyphicon glyphicon-list-alt"></span></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><span title="Delete" class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a onclick="collect()" class="btn btn-danger">Delete Selected</a>
</p>
<script>
    function collect() {
        if (confirm("Delete Selected items?")) {
            var arrayId = new Array();
            var checkboxes = document.querySelectorAll('input[name=selectedVehicles]:checked')

            for (var i = 0; i < checkboxes.length; i++) {
                arrayId.push(checkboxes[i].value)
            }
            $.ajax({
                url: '@Url.Action("DeleteSelected", "Vehicles")',
                type: 'POST',
                traditional: true,
                data: { selectedVehicles: arrayId },
                error: function () {
                    console.log("error");
                }
            }).done(function () {
                location.reload();
            });

        }
    }
</script>
