@model VehicleListViewModel

<div class="row" style="margin:5% 0 5% 0;">
    <form method="post" asp-action="list" asp-controller="vehicles">
        <div class="form-group">
            <div class="col-md-12">
                <label for="searchText">Söktext</label>
                <input type="text" class="form-control input-sm" id="searchText" name="searchText" placeholder="Söktext" value="@ViewBag.SearchText" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label for="priceFrom">Pris från</label>
                <input type="number" class="form-control input-sm" id="priceFrom" name="priceFrom" placeholder="Pris från" value="@ViewBag.PriceFrom" />
            </div>
            <div class="col-md-4">
                <label for="mileFrom">Mil från</label>
                <input type="number" class="form-control input-sm" id="mileageTo" name="mileageFrom" placeholder="Mil från" value="@ViewBag.MileageFrom" />
            </div>
            <div class="col-md-4">
                <label for="yearFrom">År från</label>
                <input type="number" class="form-control input-sm" id="yearFrom" name="yearFrom" placeholder="År från" value="@ViewBag.YearFrom" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label for="priceTo">Pris till</label>
                <input type="number" class="form-control input-sm" id="priceTo" name="priceTo" placeholder="Pris till" value="@ViewBag.PriceTo" />
            </div>
            <div class="col-md-4">
                <label for="mileTo">Mil till</label>
                <input type="number" class="form-control input-sm" id="mileageTo" name="mileageTo" placeholder="Mil till" value="@ViewBag.MileageTo" />
            </div>
            <div class="col-md-4">
                <label for="yearTo">År till</label>
                <input type="number" class="form-control input-sm" id="yearTo" name="yearTo" placeholder="År till" value="@ViewBag.YearTo" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label for="bodyType">Kaross</label>
                @*<input type="text" class="form-control input-sm" id="bodyType" name="bodyType" placeholder="Kaross" value="@ViewBag.BodyType" />*@
                <select id="bodyType" name="bodyType" class="form-control input-sm" asp-items="Html.GetEnumSelectList<BodyType>()">
                </select>
            </div>
            <div class="col-md-4">
                <label for="gearbox">Växellåda</label>
                @*<input type="text" class="form-control input-sm" id="gearbox" name="gearbox" placeholder="Växellåda" value="@ViewBag.Gearbox" />*@
                <select id="gearbox" name="gearbox" class="form-control input-sm" asp-items="Html.GetEnumSelectList<Gearbox>()">
                </select>
            </div>
            <div class="col-md-4">
                <label>&nbsp;</label><br />
                <button type="submit" class="btn btn-success input-sm">Filtrera/Sök</button>
                <input type="hidden" id="page" name="page" value="1" />
            </div>
        </div>
        
</form>
</div>


<p>Din sökning gav @Model.Pager.TotalItems träffar</p>
<hr />

@foreach (var p in Model.Vehicles)
{
@Html.Partial("VehicleBlock", p)
}

@if (Model.Pager.TotalItems == 0)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <h4><strong>Tyvärr matchade din sökning/filtrering inga bilar</strong></h4>
                </div>
            </div>
        </div>
    </div>
}

<div page-model="@Model"
     page-action="List"
     enable-page-classes="true"
     page-class="btn"
     page-class-normal="btn-default"
     page-class-selected="btn-primary"
     class="btn-group"></div>