@model string



@Model
@*<br />
<br />
    <table cellpadding="2" cellspacing="2" border="1">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Updated</td>
                <td>@item.Make</td>
                <td>@item.Model</td>
                <td>@item.ModelDescription</td>
                <td>@item.RegistrationNumber</td>
                <td>@item.Price</td>
                <td>@item.BodyType</td>
                <td>@item.Colour</td>
                <td>@item.FacilityId</td>
                <td>@item.FuelType</td>
                <td>@item.Horsepowers</td>
                <td>@item.Leasable</td>
                <td>@item.Milage</td>
                <td>@item.Year</td>
                <td>@item.Gearbox</td>
            </tr>
        }
    </table>*@

