@model Vehicle
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <h4><strong>@Model.Make.Name @Model.Model</strong></h4>
                <p>@Model.ModelDescription, @Model.FuelType, @Model.BodyType, @Model.Year, @Model.Mileage, @Model.Gearbox, @($"Pris: {Model.Price}")</p>
            </div>
            <div class="col-md-6">
                <img src="http://via.placeholder.com/50x50" class="pull-right" />
            </div>
        </div>
    </div>
</div>