@model Vehicle
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                @{ 
                    var vehicleLinkId = Model.Make.Name + "-" + Model.Model + "-" + Model.ModelDescription + "-" + Model.UrlId;
                    vehicleLinkId = vehicleLinkId.Replace(" ", "_");
                }
                <h4><strong><a href="/bil/@vehicleLinkId">@Model.Make.Name @Model.Model</a></strong></h4>
                <p>@Model.ModelDescription, @Model.FuelType, @Model.BodyType, @Model.Year, @Model.Mileage, @Model.Gearbox, <strong>@Model.Used</strong>, @($"Pris: {Model.Price}")</p>
            </div>
            <div class="col-md-6">
                <img src="http://via.placeholder.com/50x50" class="pull-right" />
            </div>
        </div>
    </div>
</div>