@model Vehicle

@{
    var vehicleLinkId = Model.Make.Name + "-" + Model.Model + "-" + Model.ModelDescription + "-" + Model.UrlId;
    vehicleLinkId = vehicleLinkId.Replace(" ", "_");

    var used = "";

    if (Model.Used)
    {
        used = "Begagnad";
    }
    if (!Model.Used)
    {
        used = "Ny";
    }
}

<div class="col-md-3">
    <a href="/bil/@vehicleLinkId">
        <div class="panel panel-default" style="height: 300px">
            <div class="panel-body" style="color:black">
                <img class="img-responsive" src="~/images/uploads/@Model.Images.First().ImageUrl" alt="@Model.Images.First().ImageUrl" />
               
                <h4><strong>@Model.Make.Name @Model.Model @Model.ModelDescription</strong></h4>
                <strong>@used</strong>
                <br />
                @*<p>@Model.FuelType.GetDisplayName(), @Model.BodyType.GetDisplayName(), @Model.Year, @Model.Mileage, @Model.Gearbox.GetDisplayName()</p>*@
                <span style="color: green">@($"Pris: {Model.Price}")</span>


            </div>
    </div></a>
</div>